{% extends "base.html" %}
{% block content %}

{% for i in range(product_amount - 1) %}
<div class="row product_page">
<p class="col">Product name:<br />{{ product_dict["Product Name"][i] }}</p>
<p class="col">Product Price:<br /> {{ product_dict["Product Price"][i]}}</p>
<p class="col">Manufacturer Price:<br />{{ product_dict["Manufacturer Price"][i] }}</p>
<p class="col">Shipping Price:<br />{{ product_dict["Shipping Price"][i] }}</p>
<p class="col">Shipping Times:<br />{{ product_dict["Shipping Times"][i] }}</p>
<p class="col">Category:<br />{{ product_dict["Category"][i] }}</p>
</div>
{% endfor %}
<p>{{ product_amount - 1 }}</p>
{% endblock %}